*{
    margin : 0px;
    padding : 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content :space-around;
    background-color: rgb(230, 228, 228);
}

#logo img{
    height : 70px;
    width : 500px;
    padding: 15px 12px;
}

#name{
    text-align: left;
    padding: 15px;
    color :rgb(34, 34, 88);
}

#affiliation{
    padding: 2px;
    font-style: italic;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#navbar{
    background-color: rgb(35, 35, 37);
    color: aliceblue;
}

.navbar{
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.navbar, .nav{
    list-style: none;
    color: aliceblue;
    text-decoration: none;
    justify-content:flex-start;
    padding: 10px;
    align-items: center;
}

.nav a:visited{
    color: rgb(46, 106, 159);
}

.nav a.active, .nav a:hover{
    background-color: rgb(7, 5, 146);
    color: rgb(255, 255, 255);
}

#dept{
    position: relative;
}

.dept{
    display : none;
    position: absolute;
    border : 1px solid black;
    list-style: none;
    background-color: rgb(255, 255, 255);
    width: max-content;
}

.dept li{
    padding: 10px;
    border: 1px solid black;
}

.dept-sec{
    color: black;
    text-decoration: none;
}

.dept li:hover{
    background-color: rgb(146, 146, 146);
}

#dept:hover .dept{
    display :block;
}

.main, table{
    padding: 50px;
}

.main h3{
    border-bottom: 1px solid black;
    font-family:'Times New Roman', Times, serif;
    padding : 15px 20px 10px 20px;
    margin-bottom: 20px;
}

table, td, th{
    border : 1px, solid rgb(142, 142, 142);
    padding : 15px;
    border-collapse: collapse;
    align-items : center;
    text-align :left;
    height : 20px;
}

table{
    width : 100%;
}

tr:nth-child(odd){
    background-color: rgb(234, 234, 234);
}

tr:nth-child(even){
    background-color: rgb(255, 255, 255);
}

footer{
    background-color: rgb(28, 28, 28);
}

.links{
    color: white;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.links li a:hover{
    color: rgb(70, 131, 184);
}

#copyright{
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
}